* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  position: relative;
}

.pink-bg {
  background-color: #ffe8dc;
  position: absolute;
  width: 95%;
  height: 1200px;
  z-index: -1;
  right: 0;
}

.pink-bg .pink-bg--right {
  right: -50px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 500;
}

.color-karry {
  color: #ffe8dc !important;
}

.color-japanese-laurel {
  color: #07691c !important;
}

.color-rangitoto {
  color: #2c2c1c !important;
}

.color-nobel {
  color: #b5b5b5 !important;
}

.color-persian-red {
  color: #c53030 !important;
}

.color-catskill-white {
  color: #edf2f7 !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0 15px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666;
}

.col-12 {
  width: 100%;
}

.doodle.doodle--menu {
  position: absolute;
  bottom: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  padding: 0 10px;
}

.header .header--pink {
  background-color: #ffe8dc;
}

.header__logo {
  height: 90px;
}

.header__mobile-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  width: 40px;
  cursor: pointer;
}

.header__burger-line {
  border-width: 2px;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  color: #2c2c2c;
}

.header__links {
  display: none;
}

.site-footer {
  height: auto;
  padding: 25px;
}

.site-footer__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.site-footer__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__link {
  margin-bottom: 9px;
  text-decoration: none;
  color: #2c2c1c;
}

.site-footer__link:hover {
  color: #07691c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.site-footer__other-info {
  margin-top: 10px;
}

.site-footer__email {
  text-decoration: none;
}

.site-footer__copyright {
  font-size: 14px;
  color: #b5b5b5;
  margin: 30px 0 10px 0;
}

.site-footer__site-info {
  font-size: 14px;
  color: #b5b5b5;
  margin-top: 0px;
}

.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.me > * {
  width: 80%;
}

.me__page-title {
  font-size: 36px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.me__subtitle {
  margin: 20px 0 10px 0;
}

.me__description {
  margin-top: 0;
}

.recent-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-posts > * {
  width: 80%;
}

.recent-posts__title {
  margin-bottom: 10px;
}

.recent-posts__list {
  list-style-image: url("../assets/recent-post-line.png");
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.recent-posts__list-item {
  margin: 0 0 10px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: #ffe8dc;
  top: 0;
}

.menu__exit {
  position: absolute;
  top: 45px;
  right: 20px;
  width: 40px;
  cursor: pointer;
}

.menu__cross-line {
  border-width: 2px;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  color: #2c2c2c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__cross-line.menu__cross-line--1 {
  rotate: 45deg;
  position: relative;
  top: 9px;
}

.menu__cross-line.menu__cross-line--2 {
  rotate: -45deg;
}

.menu__link {
  font-size: 42px;
  font-weight: 700;
  margin: 25px 0;
  text-decoration: none;
  color: #2c2c1c;
  cursor: pointer;
}

.menu__link:hover {
  color: #07691c;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/*# sourceMappingURL=main.css.map */